{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form method="POST" action="{% url 'userauths:sign-up' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="policy">
        <input type="checkbox" required>
        <h3>I accept all terms & conditions</h3>
      </div>
      
      <div class="input-box button">
        <input type="submit" value="Register Now">
      </div>
      
      <div class="text">
        <h3>Already have an account? <a href="{% url 'userauths:log-in' %}">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
